@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html, body {
    height: 90%;
    width: auto;
    font-family: 'Goldman', cursive;
    background-image: linear-gradient(to right, #606c88, #3f4c6b);
    
}

h1 {
    font-style: bold;
    font-size: 75px;
    color: whitesmoke;
}

button {
    font-family: 'Goldman', cursive;
    width: 90%;
    height: auto;
    cursor: pointer;
    background-color: rgb(56, 51, 51);
    border-style: solid;
    color: white;
    padding: 32px 16px;
    text-align: center;
    display: inline-block;
    border-radius: 20%;
    font-size: 28px;
}

button:hover {
    background-color:rgb(116, 108, 108)
}

section {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 6fr 4fr;
    grid-gap: 1em;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    justify-content: flex-end;
    grid-area: dp;
    background-color: whitesmoke;
}

#display-element {
    padding-right: 22px;
    font-size: 60px;
}

.buttons {
    grid-area: main;
}
.add {
    grid-area: ad;
    font-size: 28px;
}

#add {
    height: 220px;
    font-size: 50px;
    background-color: rgba(173, 168, 168, 0.692);
}

#add:hover {
    background-color:rgb(199, 191, 191) 
}

.divide {
    grid-area: dv;
    font-size: 32px;
}

.multiply {
    grid-area: mp;
}

.subtract {
    grid-area: sb
}

.calc-container {
    max-width: 450px;
    max-height: 650px;
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "dp dp dp dp"
        "main main main dv"
        "main main main mp"
        "main main main sb"
        "main main main ad"
        "main main main ad";

    width: 80%;
    height: 95%;
    border-style: solid;
    border-width: 20px;
    border-color: rgb(22, 19, 19);
    border-radius: 3%;
    padding-bottom: 10px;
  }

  .buttons-wrapper {
      display: grid;
      padding-left: 10px;
      padding-top: 15px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      width: 100%;
      height: 100%;
  }

  #all-clear {
      background-color: rgb(240, 93, 74);
  }

  #all-clear:hover {
    background-color: rgb(240, 147, 135);
  }

  #delete {
      background-color: rgb(60, 124, 60);
  }

  #delete:hover {
    background-color: rgb(130, 179, 130);
}

  .calc-background {
    background-color: rgb(129, 122, 122);
  }

  .padding-top {
      padding-top: 15px;
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
